body {
    margin: 0;
    padding: 0;
    background: #1E1E1E;
    font-family: Arial, sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 700;
}

.icons-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 40px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.icon-box:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
}

.icon {
    width: 65px;
    margin-bottom: 8px;
}

.icon-box span {
    font-size: 13px;
}

.btn-sair {
    background: #007BFF;
    padding: 12px 35px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.2s;
}

.btn-sair:hover {
    background: #005fbd;
}
