@import url('Produtos.css');
@import url('footer.css');
:root{
    --color-primary-1: rgba(0, 58, 87, 1);
    --color-primary-2: rgba(0, 117, 175, 1);


    --color-neutra-1:#1d1d1d;
    --color-neutra-2:#fff;
}
*{
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    padding: 0;   
    background-color: #1E1E1E;
}
.logo{
    width: 100px;
}
.btn-default{
    background-color: var(--color-primary-5);
    border: none;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    transition: background-color .3s ease;
    color: var(--color-neutra-2);
}
.btn-default:hover{
    background-color: var(--color-primary-3);
}
.home{
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}
.cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    margin-left: 5%;
}

.cta .title{
    font-size: 4rem;
    color: white;
}
.cta .title span{
    color: rgba(0, 117, 175, 1);
}
.cta .descricao{
    font-size: 1.2rem;
    color: white;
}

.phone-button{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--color-neutra-2);
    padding: 8px 14px;
    font-weight: 500;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
}
.banner{
    display: flex;
    margin: auto;
}
.banner img{
    display: flex;
    margin: auto;
    width: 1000px;
}
.section-subtitle{
    text-align: center;
    font-size: 2.1875rem;
    color: white;
}

@media screen and (max-width: 980px) {
    .banner{
        display: none;
    }
    .cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .home{
        min-height: 100%;
    }
    .title{
        font-size: 1.5rem;
    }
    .descricao{
        font-size: 2rem;
    }
}