body {
    margin: 0;
    padding: 0;
    background: #1E1E1E;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 28px;
}

.btn-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.btn-voltar:hover {
    background-color: #d6d6d6;
}

.tabela-container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    text-transform: uppercase;
}

thead {
    background-color: #0E4A61;
    color: #fff;
    font-size: 16px;
}

thead th {
    padding: 12px;
}

tbody td {
    background-color: white;
    color: black;
    padding: 12px;
    text-align: center;
    font-size: 15px;
}

tbody .vazio {
    background-color: #fff;
    padding: 20px;
    font-weight: bold;
}

.btn-sair {
    display: inline-block;
    margin-top: 40px;
    background: #007BFF;
    padding: 10px 35px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.2s;
}

.btn-sair:hover {
    background: #0069d1;
}
