body {
    margin: 0;
    padding: 0;
    background: #1E1E1E;
    font-family: Arial, sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 340px;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    margin-bottom: 25px;
}

.logo-img {
    width: 100px; 
    height: auto;
}

.logo-text {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

h1 {
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: bold;
}

.campo {
    width: 100%;
    background: #6d6d6d;
    border: none;
    padding: 12px;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    margin-bottom: 15px;
    outline: none;
}

.campo::placeholder {
    color: #e0e0e0;
}

.btn-entrar {
    display: inline-block;
    padding: 10px 25px;
    background-color: #008CBA;
    color: white;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    width: 150px;
}
.btn-entrar:hover {
    background-color: #0075a3;
}
.btn-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    transition: 0.2s;
}

.btn-voltar:hover {
    background-color: #555;
}
